---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Despliegue De Red</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">El servicio de Site Adquisition se ha proporcionado a nuestro Cliente INMOAVILES S A a Nivel Nacional, siendo un servicio fiable y de calidad.</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>SITE ADQUISITION</h2>
                        <p>Respaldados en nuestra experiencia profesional en servicios de RF (Radio Frecuencia), el objetivo del Servicio de Site Adquisition es ubicar opciones adecuadas y viables (para todas las áreas involucradas) en la Adquisición de
                            Predios para la Instalación de nuevas Estaciones Base.</p>
                        <h5 class="mt-5 mb-2">El servicio incluye:</h5>
                        <ul class="list-service">
                            <li>Estudio técnico de la zona de búsqueda análisis de prefactibilidad.</li>
                            <li>Búsqueda de sitios según las necesidades del cliente objetivo 3 opciones viables dependiendo de la zona de búsqueda.</li>
                            <li>Acuerdos de Arrendamiento y otros requisitos técnicos y de negociación previa aprobación de la/s opción/ ones por parte del Operador Móvil.</li>
                            <li>Negociación documentos habilitantes para elaboración del contrato.</li>
                            <li>Seguimiento de trámites permisos, y cierre y Firma de contrato entrega de contrato firmado.</li>
                        </ul>
                        <p class="mt-5">
                            El servicio de Site Adquisition se ha proporcionado a nuestro Cliente INMOAVILES S A a Nivel Nacional, siendo un servicio fiable y de calidad, enfocado al cumplimiento de los objetivos técnicos y comerciales planteados por nuestro Cliente.
                        </p>
                        <h5 class="mt-5 mb-2">La Asignación de requerimientos se detallan a continuación:</h5>
                        <ul class="list-service">
                            <li>Búsqueda de Sitios 12 sitios validados para las 3 Operadoras Móviles del país.</li>
                            <li>Contratación de Sitios 8 firma de Contratos.</li>
                            <li>Gestión de Permisos 5 obtención de permisos de Construcción y Bomberos.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/01.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>