---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
        <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Fibra Óptica</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contamos con personal encargado de la gestión de Proyectos de cableado estructurado,
mantenimiento, reparación e instalación.</li>
                </ol>
            </nav>
        </div>
    </div>
        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-5 col-xl-5">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/010.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xl-6  offset-xl-1">
                    <div class="section-title">
                        <h2>TRABAJOS VARIOS</h2>
                        <p>
                            Proyectos de cableado estructurado, mantenimiento, reparación e instalación de proyectos de última milla, redes GPON realizadas con Fibra Óptica y/o Cobre; supervisión e inspección de trabajos en campo, diseño de sistemas de redes locales y de área ampliada.
                        </p>
                        <ul class="list-service mt-3">
                            <li>Diseño y Construcción de redes GPON FO planta externa.</li>
                            <li>Construcción de ODN’s.</li>
                            <li>Tendido de FO.</li>
                            <li>Última Milla, FTTH.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>