---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Nuestro Servicios</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Servicios</li>
                </ol>
            </nav>
        </div>
    </div>
    
    <section class="our-service-wrapper section-padding">
        <div class="container">
            <div class="col-12 col-xl-6 offset-xl-3 text-center">
                <div class="section-title style-2">
                    <span>Empsertel S.A</span>
                    <h2>Le ayudamos a construir y hacer crecer su negocio</h2>
                </div>
            </div>
            <div class="row ps-xl-5 pe-xl-5">
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/despliegue-de-red.svg" alt="">
                        </div>
                        <h4><a href="/services/despliegue-de-red">Despliegue De Red</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">El servicio de Site Adquisition se ha proporcionado a nuestro Cliente INMOAVILES S A a Nivel Nacional, siendo un servicio fiable y de calidad.</p>
                        <a href="/services/despliegue-de-red" class="read-more-link">Leer más</a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/ingenieria-rf.svg" alt="">
                        </div>
                        <h4><a href="/services/ingenieria-rf">Ingeniería Rf</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">Implementación de nuevos sitios la planificación se fundamenta en un análisis basado en el cumplimiento de objetivos técnicos que se verifican durante la validación en campo.</p>
                        <a href="/services/ingenieria-rf" class="read-more-link">Leer más</a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/calidad.svg" alt="">
                        </div>
                        <h4><a href="/services/calidad">Call P</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">Servicio enfocado a la verificación de operatividad y correcto funcionamiento de los servicios de Voz.</p>
                        <a href="/services/calidad" class="read-more-link">Leer más</a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/operacion-y-mantenimiento.svg" alt="">
                        </div>
                        <h4><a href="/services/operacion-y-mantenimiento">Operación Y Mantenimiento</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">Servicio con el cual se identifica el origen de señales externas en frecuencias de banda celular 2 G/ 3 G/LTE que afectan el desempeño y comportamiento de estaciones base (RBS).</p>
                        <a href="/services/operacion-y-mantenimiento" class="read-more-link">Leer más</a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/consultoria-rf.svg" alt="">
                        </div>
                        <h4><a href="/services/consultoria-rf">Consultoría RF</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">Optimización de red por KPI’s Análisis y recomendaciones de parametrización post Drive test.</p>
                        <a href="/services/consultoria-rf" class="read-more-link">Leer más</a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/infraestructura.svg" alt="">
                        </div>
                        <h4><a href="/services/infraestructura">Infraestructura</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">Servicio enfocado en la instalación de Nodos 3 G y LTE, con equipamiento Ericsson (SSC 02 RBS 6601 Nokia, Alcatel.</p>
                        <a href="/services/infraestructura" class="read-more-link">Leer más</a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/fibra-optica.svg" alt="">
                        </div>
                        <h4><a href="/services/fibra-optica">Fibra Óptica</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">Contamos con personal encargado de la gestión de Proyectos de cableado estructurado, mantenimiento, reparación e instalación.</p>
                        <a href="/services/fibra-optica" class="read-more-link">Leer más</a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/obra-civil.svg" alt="">
                        </div>
                        <h4><a href="/services/obra-civil">Obra Civil</a></h4>
                        <p class="text-truncate" style="max-width: 100%;">Manejamos el proyecto Servicios Menores de Obra Civil para Telefónica, otro de nuestro clientes es PUNTONET que nos ha confiado el Proyecto Mantenimiento de Obra Civil de los nodos de Tx.</p>
                        <a href="/services/obra-civil" class="read-more-link">Leer más</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</Layout>







