---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
        <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Infraestructura</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Servicio enfocado en la instalación de Nodos 3 G y LTE.</li>
                </ol>
            </nav>
        </div>
    </div>
        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>INSTALACIÓN RBS</h2>
                        <p>Servicio enfocado en la instalación de Nodos 3 G y LTE, con equipamiento Ericsson (SSC 02 RBS 6601 Nokia, Alcatel.</p>
                        <ul class="list-service mt-3">
                            <li>Mantenimiento, comisionamiento de equipos de telecomunicaciones de segunda, tercera y cuarta generación</li>
                            <li>Desmontaje equipos de telecomunicaciones Swap de tecnología.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/09.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

</Layout>