---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
        <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Ingeniería Radiofrecuencia</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Implementación de nuevos sitios la planificación se fundamenta en un análisis basado en el cumplimiento de objetivos técnicos que se verifican durante la validación en campo.</li>
                </ol>
            </nav>
        </div>
    </div>

        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-5 col-xl-5">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xl-6  offset-xl-1">
                    <div class="section-title">
                        <h2>DRIVE TEST</h2>
                        <p>Servicio de ejecución de Drive Test y pruebas estáticas a Nivel Nacional para la evaluación de las tecnologías GSM, UMTS, LTE en las respectivas bandas de operación de las operadoras nacionales.</p>
                        <h5 class="mt-5 mb-2">El servicio incluye:</h5>
                        <ul class="list-service">
                            <li>Equipos de pruebas con Tems Investigation v 16 x, v 19 x, v 20 x Tems Discovery v 12 x</li>
                            <li>Equipos smartphone de pruebas.</li>
                            <li>Reporte de Post Proceso.</li>
                            <li>Análisis de resultados.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>RADIOS DE BÚSQUEDA & PLANNING</h2>
                        <p>Previo al Despliegue e Implementación de nuevos sitios, la planificación se fundamenta en un análisis basado en el cumplimiento de objetivos técnicos que se verifican durante la validación en campo.</p>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/03.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-5 col-xl-5">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/04.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xl-6  offset-xl-1">
                    <div class="section-title">
                        <h2>INITIAL TUNNING</h2>
                        <p>Servicio que permite verificar la interrelación entre la implementación de la estación y el diseño de RF.</p>
                        <p class="mt-3">El proceso permite el análisis y detección de problemas de hardware, configuración lógica, verificación de handover, calidad de servicios de voz y datos, verificación de asignación correcta de canales, entre otros, previo la puesta
                            en servicio comercial del sitio.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</Layout>