---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
        <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Obra Civil</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Manejamos el proyecto Servicios Menores de Obra Civil para Telefónica, otro de nuestro clientes es PUNTONET que nos ha confiado el Proyecto Mantenimiento de Obra Civil de los nodos de Tx.</li>
                </ol>
            </nav>
        </div>
    </div>
        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>OBRA CIVIL Y READECUACIONES</h2>
                        <p>Empsertel S.A cuenta con una amplia experiencia en la planeación, diseño, construcción y supervisión de trabajos menores de obra civil.</p>
                        <ul class="list-service mt-3">
                            <li>Lavado, pintura y torqueado de torres y monopolos.</li>
                            <li>Limpieza de maleza, roedores, termitas etc.</li>
                            <li>Construcción de bases de hormigón para generadores.</li>
                            <li>Instalación, mantenimiento y cambio de mimetizado.</li>
                            <li>Desinstalación de equipos electrónicos descontinuados.</li>
                            <li>Plomería y mampostería.</li>
                            <li>Pintura, resane de cerramientos de concreto y malla.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/011.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>