---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Conoce Más Sobre Nosotros</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sobre Nosotros</li>
                </ol>
            </nav>
        </div>
    </div>
        <section class="about-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="about-images-video-popup mb-5 mb-md-0">
                        <img src="assets/img/home1/about1.jpg" alt="">
                        <img src="assets/img/home1/about2.jpg" alt="">
                        <div class="video-play-btn">
                            <a href="https://www.youtube.com/watch?v=6k-xdzWnMEw" class="popup-video play-video"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12 ps-xl-5">
                    <div class="section-title style-2">
                        <span>Más de 10 años de Experiencia</span>
                        <h2>Somos Expertos En Infraestructura Y Servicios De Redes Y Comunicaciones</h2>
                        <p>Siempre adaptando nuestros servicios a la última tecnología para conseguir unas infraestructuras seguras, eficientes, rentables y con alta disponibilidad. Con nuestros profesionales de la informática, tendrás una infraestructura
                            sólida a tu medida.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="best-services-wrapper section-padding bg-cover" style="background-image: url('/assets/img/services-bg.jpg')">
        <div class="container">
            <div class="col-12 col-xl-6 offset-xl-3 col-md-8 offset-md-2 text-center">
                <div class="section-title style-2">
                    <h6>Lo que necesitas saber de</h6>
                    <h2>Empsertel Network S.A.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="single-service-top-icon wow fadeInUp">
                        <div class="icon">
                            <img src="/assets/img/icons/vision.png" alt="vision">
                        </div>
                        <div class="content">
                            <h4><a>Visión</a></h4>
                            <p>Ser una empresa líder en el mercado convirtiéndonos en el socio estratégico de nuestros Clientes, proveyendo nuestros servicios a nivel nacional con resultados de calidad a través del desarrollo humano, la aplicación y administración
                                de tecnología que aporte a mejorar nuestros servicios.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="single-service-top-icon wow fadeInUp" data-wow-delay=".2s">
                        <div class="icon">
                            <img src="/assets/img/icons/mision.png" alt="">
                        </div>
                        <div class="content">
                            <h4><a>Misión</a></h4>
                            <p>Ser una empresa proveedora de Servicios de Red e Infraestructura caracterizada por su alto nivel técnico, competitivo y de crecimiento, proporcionando soluciones tecnológicas acorde a las expectativas de nuestros Clientes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="single-service-top-icon wow fadeInUp" data-wow-delay=".4s">
                        <div class="icon">
                            <img src="/assets/img/icons/valores.png" alt="">
                        </div>
                        <div class="content">
                            <h4><a>Valores</a></h4>
                            <p>
                                – Honestidad <br> – Integridad <br> – Compromiso <br> – Profesionalismo <br> – Resultados <br> – Responsabilidad Social
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
