---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
	<section class="hero-wrapper hero-1 text-center text-md-start">
        <div class="hero-slider-active">
            <div class="single-slide">
                <div class="slide-bg bg-cover wow zoomIn" style="background-image: url('assets/img/home1/antena_1.jpg');"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xxl-8 col-lg-9 col-sm-10">
                            <div class="hero-contents pe-lg-3 text-white">
                                <h1 class="fs-lg animated" data-animation-in="fadeInRight" data-delay-in="0.3">SERVICIOS DE TELECOMUNICACIONES</h1>
                                <p class="pe-lg-5 mb-4 animated" data-animation-in="fadeInRight" data-delay-in="0.6">Enfocada en ser un aliado estratégico en el sector de las Telecomunicaciones Móviles, dispone y provee Servicios de Red e Infraestructura que se desenvuelven en distintas areas.</p>
                                <a href="/contact" data-animation-in="fadeInRight" data-delay-in="0.9" class="theme-btn me-sm-4 mt-4 animated">Contáctenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="slide-bg bg-cover wow zoomIn" style="background-image: url('assets/img/home1/cableado_1.jpg');"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xxl-8 col-lg-9 col-sm-10">
                            <div class="hero-contents pe-lg-3 text-white">
                                <h1 class="fs-lg animated" data-animation-in="fadeInRight" data-delay-in="0.3">SERVICIOS DE TELECOMUNICACIONES</h1>
                                <p class="pe-lg-5 mb-4 animated" data-animation-in="fadeInRight" data-delay-in="0.6">Enfocada en ser un aliado estratégico en el sector de las Telecomunicaciones Móviles, dispone y provee Servicios de Red e Infraestructura que se desenvuelven en distintas areas.</p>
                                <a href="/contact" data-animation-in="fadeInRight" data-delay-in="0.9" class="theme-btn me-sm-4 mt-4 animated">Contáctenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
                <circle r="20" cy="22" cx="22" id="quantechcircle" />
            </symbol>
        </svg>
    </section>

    <section class="our-service-wrapper section-padding">
        <div class="container">
            <div class="col-12 col-xl-6 offset-xl-3 text-center">
                <div class="section-title style-2">
                    <h6>Alineados a cumplir tus objetivos</h6>
                    <h2>Te ayudamos a construir y hacer crecer tu negocio.</h2>
                </div>
            </div>
            <div class="row ps-xl-5 pe-xl-5">
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/analisis.png" alt="analisis">
                        </div>
                        <h4>Análisis</h4>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/asesoramiento.png" alt="asesoramiento">
                        </div>
                        <h4>Asesoramiento</h4>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/integracion.png" alt="integracion">
                        </div>
                        <h4>Integración</h4>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="single-service-box">
                        <div class="icon">
                            <img src="/assets/img/icons/seguimiento.png" alt="seguimiento">
                        </div>
                        <h4>Seguimiento</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-wrapper section-padding pt-0">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 col-12">
                    <div class="about-img-funfact-content me-xl-3">
                        <img src="/assets/img/about-img.jpg" class="img-round" alt="">
                        <div class="fun-fact-bar wow fadeInDown">
                            <div class="year-img">
                                <h3>10</h3>
                                <img src="/assets/img/icons/award.png" alt="award">
                            </div>
                            <p>Años de Experiencia</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-5 mt-lg-0 ps-xl-5">
                    <div class="section-title style-2">
                        <h6>Sobre Nuestra Compañía</h6>
                        <h2>Somos expertos en infraestructura y servicios de redes y comunicaciones</h2>
                        <p>Siempre adaptando nuestros servicios a la última tecnología para conseguir unas infraestructuras seguras, eficientes, rentables y con alta disponibilidad. Con nuestros profesionales de la informática, tendrás una infraestructura
                            sólida a tu medida.</p>
                    </div>
                    <a href="/about" class="theme-btn mt-30">Leer Más</a>
                </div>
            </div>
        </div>
    </section>

    <div class="funfact-box-wrapper section-padding bg-cover" style="background-image: url('/assets/img/funfact-bg.jpg')">
        <div class="container">
            <div class="row text-center mtm-30 text-white">
                <div class="col-md-6 col-lg-4">
                    <div class="single-digit-count">
                        <div class="icon">
                            <img src="/assets/img/icons/users.svg" alt="">
                        </div>
                        <div class="digits"><span>50</span>+</div>
                        <p>Miembros del Equipo</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single-digit-count">
                        <div class="icon">
                            <img src="/assets/img/icons/task-complete.svg" alt="">
                        </div>
                        <div class="digits"><span>100</span>+</div>
                        <p>Proyectos Completados</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single-digit-count">
                        <div class="icon">
                            <img src="/assets/img/icons/star.svg" alt="">
                        </div>
                        <div class="digits"><span>20</span>+</div>
                        <p>Clientes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="best-services-wrapper section-padding bg-cover" style="background-image: url('/assets/img/services-bg.jpg')">
        <div class="container">
            <div class="col-12 col-xl-6 offset-xl-3 col-md-8 offset-md-2 text-center">
                <div class="section-title style-2">
                    <h6>Nuestros Servicios</h6>
                    <h2>Ofrecemos una amplia variedad de servicios en el area de Telecomunicaciones</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="single-service-top-icon wow fadeInUp">
                        <div class="icon">
                            <img src="/assets/img/icons/test_drive.png" alt="test_drive">
                        </div>
                        <div class="content">
                            <h4><a href="#">Drive Test</a></h4>
                            <p>Servicio de ejecución de Drive Test y pruebas estáticas a Nivel Nacional para la evaluación de las tecnologías GSM, UMTS, LTE en las respectivas bandas de operación de las operadoras nacionales.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="single-service-top-icon wow fadeInUp" data-wow-delay=".2s">
                        <div class="icon">
                            <img src="/assets/img/icons/obra_civil.png" alt="obra_civil">
                        </div>
                        <div class="content">
                            <h4><a href="#">Obra Civil</a></h4>
                            <p>Manejamos el proyecto Servicios Menores de Obra Civil para Telefónica, otro de nuestro clientes es PUNTONET que nos ha confiado el Proyecto Mantenimiento de Obra Civil de los nodos de Tx.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="single-service-top-icon wow fadeInUp" data-wow-delay=".4s">
                        <div class="icon">
                            <img src="/assets/img/icons/cableado_estructural.png" alt="cableado_estructural">
                        </div>
                        <div class="content">
                            <h4><a href="#">Cableado Estructurado</a></h4>
                            <p>Proyectos de cableado estructurado, mantenimiento, reparación e instalación de proyectos de última milla, redes GPON realizadas con Fibra Óptica y/o Cobre.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-50 text-center">
                <a href="/services" class="theme-btn">Todos los Servicios</a>
            </div>
        </div>
    </section>

    <section class="project-carousel-wrapper pb-5 section-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-8 col-xl-6 text-center text-md-start">
                    <div class="section-title style-2">
                        <h6>Nuestros Proyectos Realizados</h6>
                        <h2>Mejorar y potenciar nuestros proyectos tecnológicos</h2>
                    </div>
                </div>
                <div class="col-md-4 col-xl-6">
                    <div class="case-study-carousel-arrow text-md-end">
                        <div class="project-carousel-nav-prev me-2"><i class="fa fa-arrow-left"></i></div>
                        <div class="project-carousel-nav-next"><i class="fa fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>

            <div class="project-showcase-carousel-active text-white">
                <div class="single-project-card bg-cover" style="background-image: url('/assets/img/project/auditoria.jpg')">
                    <div class="content">
                        <h3>Auditoria 2G 3G 4G</h3>
                    </div>
                </div>
                <div class="single-project-card bg-cover" style="background-image: url('/assets/img/project/radio_base.jpg')">
                    <div class="content">
                        <h3>Instalación de Radio Base</h3>
                    </div>
                </div>
                <div class="single-project-card bg-cover" style="background-image: url('/assets/img/project/radiente.jpeg')">
                    <div class="content">
                        <h3>Instalación de Sistema Radiante</h3>
                    </div>
                </div>
                <div class="single-project-card bg-cover" style="background-image: url('/assets/img/project/project4.jpg')">
                    <div class="content">
                        <h3>Text 1</h3>
                    </div>
                </div>
                <div class="single-project-card bg-cover" style="background-image: url('/assets/img/project/project5.jpg')">
                    <div class="content">
                        <h3>Text 2</h3>
                    </div>
                </div>
                <div class="single-project-card bg-cover" style="background-image: url('/assets/img/project/project6.jpg')">
                    <div class="content">
                        <h3>Text 3</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-50 text-center">
                <a href="/projects" class="theme-btn">Todos los Proyectos</a>
            </div>
        </div>
    </section>

    <section class="testimonial-carousel-wrapper section-padding pt-5">
        <div class="container">
            <div class="col-12 col-xl-8 offset-xl-2 text-center">
                <div class="section-title style-2">
                    <h6>Nuestros Clientes</h6>
                    <h2>Trabajamos para marcas y empresas a nivel nacional e internacional.</h2>
                </div>
            </div>

            <div class="testimonial-carousel-grid-active">
                <div class="single-testimonial-card">
                    <img src="/assets/img/clients/telefonica.jpg" alt="telefonica">
                </div>
                <div class="single-testimonial-card">
                    <img src="/assets/img/clients/inmoviales.jpg" alt="inmoviales">
                </div>
                <div class="single-testimonial-card">
                    <img src="/assets/img/clients/tower.jpg" alt="tower">
                </div>
                <div class="single-testimonial-card">
                    <img src="/assets/img/clients/bts.jpg" alt="bts">
                </div>
                <div class="single-testimonial-card">
                    <img src="/assets/img/clients/punto_net.jpg" alt="punto_net">
                </div>
                <div class="single-testimonial-card">
                    <img src="/assets/img/clients/phoenix-tower.jpeg" alt="phoenix-tower">
                </div>
            </div>
        </div>
    </section>
</Layout>