---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Proyectos Realizados</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Proyectos</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="portfolio-grid-wrapper section-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="section-title style-2">
                        <h6>Nuestros Proyectos Realizados</h6>
                        <h2>Mejorar y potenciar nuestros proyectos tecnológicos</h2>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-end text-center">
                    <div class="case-cat-filter">
                        <!-- <button data-filter="*" class="active">Todo</button>
                        <button data-filter=".instalacion" class="">Instalación</button>
                        <button data-filter=".cableado">Cableado</button>
                        <button data-filter=".obra">Obra Civil</button>
                        <button data-filter=".herramienta">Herrramienta</button>
                        <button data-filter=".soporte">Soporte</button>
                        <button data-filter=".mantenimineto">Mantenimiento</button> -->
                    </div>
                </div>
            </div>

            <div class="row grid">
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/01.jpg')">
                        <a href="/assets/img/galeri/01.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/02.jpg')">
                        <a href="/assets/img/galeri/02.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/03.jpg')">
                        <a href="/assets/img/galeri/03.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/04.jpg')">
                        <a href="/assets/img/galeri/04.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/05.jpg')">
                        <a href="/assets/img/galeri/05.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/06.jpg')">
                        <a href="/assets/img/galeri/06.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/07.jpg')">
                        <a href="/assets/img/galeri/07.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/08.jpg')">
                        <a href="/assets/img/galeri/08.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/09.jpg')">
                        <a href="/assets/img/galeri/09.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/010.jpg')">
                        <a href="/assets/img/galeri/010.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/011.jpg')">
                        <a href="/assets/img/galeri/011.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/012.jpg')">
                        <a href="/assets/img/galeri/012.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/013.jpg')">
                        <a href="/assets/img/galeri/013.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/014.jpg')">
                        <a href="/assets/img/galeri/014.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/015.jpg')">
                        <a href="/assets/img/galeri/015.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/016.jpg')">
                        <a href="/assets/img/galeri/016.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/017.jpg')">
                        <a href="/assets/img/galeri/017.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/018.jpg')">
                        <a href="/assets/img/galeri/018.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/019.jpg')">
                        <a href="/assets/img/galeri/019.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/020.jpg')">
                        <a href="/assets/img/galeri/020.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/021.jpg')">
                        <a href="/assets/img/galeri/021.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/022.jpg')">
                        <a href="/assets/img/galeri/022.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/023.jpg')">
                        <a href="/assets/img/galeri/022.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/024.jpg')">
                        <a href="/assets/img/galeri/024.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/025.jpg')">
                        <a href="/assets/img/galeri/025.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/026.jpg')">
                        <a href="/assets/img/galeri/026.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/027.jpg')">
                        <a href="/assets/img/galeri/027.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/028.jpg')">
                        <a href="/assets/img/galeri/028.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/029.jpg')">
                        <a href="/assets/img/galeri/029.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/030.jpg')">
                        <a href="/assets/img/galeri/030.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/031.jpg')">
                        <a href="/assets/img/galeri/031.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/032.jpg')">
                        <a href="/assets/img/galeri/032.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 grid-item web instalacion">
                    <div class="single-project-card bg-cover" style="background-image: url('/assets/img/galeri/033.jpg')">
                        <a href="/assets/img/galeri/033.jpg" class="plus-link popup-gallery"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</Layout>