<section class="cta-banner-wrapper">
    <div class="container">
        <div class="cta-banner-box section-padding bg-cover" style="background-image: url('/assets/img/cta-banner-bg.jpeg')">
            <div class="row align-center">
                <div class="col-xl-7 text-center text-xl-start offset-xl-1 offset-xl-1">
                    <div class="section-title mb-0">
                        <span>Consigue una cotización</span>
                        <h2 class="mb-md-0">Tienes alguna consulta o trabajar en los próximos proyectos</h2>
                    </div>
                </div>
                <div class="col-xl-4 mt-4 mt-xl-0 text-center">
                    <a href="/contact" class="theme-btn">Contacta con nosotros</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-1 footer-wrap">
    <div class="footer-widgets-wrapper text-white bg-cover" style="background-image: url('/assets/img/footer-widgets-bg.png')">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="about-quantech pe-md-5 pe-xl-0">
                        <a href="/">
                            <img src="/assets/img/logo-footer.png" alt="empsertel">
                        </a>
                        <p>Enfocada en ser un aliado estratégico en el sector de las Telecomunicaciones Móviles, dispone y provee Servicios de Red e Infraestructura que se desenvuelven en distintas areas.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-wid ps-xl-5">
                        <div class="wid-title">
                            <h3>Información</h3>
                        </div>
                        <ul>
                            <li><a href="/">Inicio</a> </li>
                            <li><a href="/about">Sobre Nosotros</a> </li>
                            <li><a href="/projects">Proyectos</a></li>
                            <li><a href="/contact">Contacto</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-wid ps-xl-2">
                        <div class="wid-title">
                            <h3>Nuestros Servicios</h3>
                        </div>
                        <ul>
                            <li><a href="/services/despliegue-de-red">Despliegue de Red</a></li>
                            <li><a href="/services/ingenieria-rf">Ingeniería RF</a></li>
                            <li><a href="/services/calidad">Call P</a></li>
                            <li><a href="/services/consultoria-rf">Consultoría RF</a></li>
                            <li><a href="/services/operacion-y-mantenimiento">Operación y Mantenimiento</a></li>
                            <li><a href="/services/infraestructura">Infraestructura</a></li>
                            <li><a href="/services/fibra-optica">Fibra Óptica</a></li>
                            <li><a href="/services/obra-civil">Obra Civil</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-wid site-info-widget">
                        <div class="wid-title">
                            <h3>Contacto</h3>
                        </div>
                        <div class="get-in-touch">
                            <div class="single-contact-info">
                                <div class="icon id3">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="contact-info">
                                    <span>administracion@empsertel.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="wid-title">
                            <h3>Dirreción</h3>
                        </div>
                        <div class="get-in-touch">
                            <div class="single-contact-info">
                                <div class="icon id1">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info">
                                    <span>EMPSERTEL NETWORK LLC</span>
                                    <span>7901 4th ST N STE 300 ST Petersburg, FL 33702. EEUU</span>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="icon id1">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info">
                                    <span>EMPSERTEL NETWORK S.A</span><br>
                                    <span>Av. Jose Drom e4-22 y Pereira Esquina Edificio Iñaquito II Oficina 603. Quito-Ecuador</span>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="icon id1">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info">
                                    <span>EMPSERTEL NETWORK S.A</span><br>
                                    <span>Puente Piedra Urb. Las Piedras Cal 8, Lote 13. Lima-Perú</span>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="icon id1">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info">
                                    <span>EMPSERTEL NETWORK S.A</span><br>
                                    <span>Calle 128B N56 A 53, Barrio las Villas. Bogotá-Colombia</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container align-items-center">
            <div class="bottom-content-wrapper">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="copy-rights">
                            <p>&copy;2023 <strong>Empsertel Network S.A. </strong>All Rights Reserved. Designed by <a href="https://www.kamaycode.com.ec/"><strong>Kamay Code</strong></a></p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2 mt-md-0 col-12 text-md-end">
                        <div class="social-links">
                            <a href="https://www.facebook.com/Empsertel-SA-111248173653051"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/empsertel"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/empsertel-network"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>